/*

Core horizontal scrolling styles

*/
/*

Base element styles

*/
html.reader div.img {
  column-break-inside: avoid;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid; }
