/*

Base element styles

*/
html.reader{
  div.img{
    @extend .no-column-break;
  }
}

#reader-frame a{
  -webkit-tap-highlight-color: rgba(255,255,255,0.2);
  word-wrap:break-word!important;
  text-decoration: none!important;
  border-bottom: 2px solid $black!important;
  padding-bottom: 2px!important;
  &:focus,
  &:active,
  &:hover,
  &:visited{
    text-decoration: none!important;
    border-bottom: 2px solid $black!important;
    padding-bottom: 2px!important;
  }
}

.highlight{
  transition:background-color $speed-fast $easing;
}
.highlight-add{
  background-color: #ff0!important;
}
