
html.reader{
  body{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .wrapper{
    display: block!important;
  }
}


#reader-border{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent url('../img/pattern.jpeg') no-repeat center center;
  background-size: cover;
  &:before{
    content: ' ';
    display: table;
    z-index: 0;
    background: black;
    height: 100%;
    width: 100%;
    filter:opacity(0.5);
  }
}

#reader-content{}

#reader-frame{
  overflow: hidden;
  position:absolute;
  background-color: white;
  top:$padding-md;
  bottom:$padding-md;
  right:$padding-md;
  left:$padding-md;
  width:auto;
  height: 100%;
  height:calc(100% - #{$padding-md*2});
  padding:$padding-md;
  @include columns;
  opacity: 0;
  transition:opacity $speed-slow $easing;
  &.ready{
    opacity: 1;
  }
  @include break('mobile') {
    @include columns;
    height:calc(100% - #{$padding-sm*2});
    padding:$padding-sm;
    top:$padding-sm;
    bottom:$padding-sm;
    right:$padding-sm;
    left:$padding-sm;
  }
}
