
// base
//
article{
  @extend .break-after;
  height: auto;
  &:after{
    content: ' ';
  }
  margin:0;
  padding:0;
  section{
    margin:0;
    padding:0;
    p{
      word-wrap: break-word;
    }
  }
}

div.img{
  @extend .no-break;
  img{
    max-width: 100%!important;
    width: auto!important;
    min-height: 300px!important;
  }
}


// nav
.icon-list:before,
.icon-home3:before{
  color: #000;
  font-size: 1.2rem;
  border: 2px solid #000;
  border-radius: 100%;
  padding: 5px;
  z-index: 1;
  background: #fff;
  position: relative;
  top: -1px;
}

html.reader{
  // site overrides
  section[ui-view="hero"],
  section[ui-view="books"],
  footer{
    margin: 0!important;
    background-color: transparent;
  }
}
