
// base
//
article{
  @extend .break-before;
  margin:0;
  padding:0;
  section{
    margin:0;
    padding:0;
    p{
      word-wrap: break-word;
    }
  }
}

div.img{
  @extend .no-break;
  img{
    max-width: 100%!important;
    width: auto!important;
    min-height: 300px!important;
  }
}


// nav
.icon-list:before,
.icon-home3:before{
  color: #000;
  font-size: 1.6rem;
  border: 2px solid #000;
  border-radius: 100%;
  padding: 10px;
  position: relative;
  top: 20px;
  right: -15px;
  z-index: 1;
  background: #fff;
}

.icon-home3:before{
  right: -30px;
}

// site override
section[ui-view="hero"],
section[ui-view="books"],
footer{
  margin: 0!important;
}

