
.no-column-break{
  column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.no-break{
  -webkit-column-break-inside: avoid; // Chrome, Safari, Opera
            page-break-inside: avoid; // Firefox
                 break-inside: avoid; // IE 10+
}
.break-before{
  -webkit-column-break-before: always;
            page-break-before: always;
                 break-before: always;
}
.break-after{
  -webkit-column-break-after: always;
            page-break-after: always;
                 break-after: always;
}

@mixin break($media){
  @if $media == 'mobile'  {
    @media #{$mq-mobile} { @content }
  }
  @else if $media == 'desktop' {
    @media #{$mq-desktop} { @content }
  }
  @else {
    @if feature-exists('at-error') == true {
      @error "#{$media} is not a supported media type.";
    }
    @else {
      @warn "`#{$media}` is not a supported media type."
    }
  }
}

@mixin columns(){
  column-count: 2;
  @include break('mobile') {
    column-count: 1;
  }
  column-fill: auto;
  column-gap: 3em;
  column-rule: 0;
  column-span: none;
  column-width:auto;
}

// should be applied on parent `ol`
//
@mixin list-indentation(){
  li                         { text-indent: $padding-md*1; }
  li ol li                   { text-indent: $padding-md*2; }
  li ol li ol li             { text-indent: $padding-md*3; }
  li ol li ol li ol li       { text-indent: $padding-md*4; }
  li ol li ol li ol li ol li { text-indent: $padding-md*5; }
}
