
// base
//
$black:#000;
$white:#fff;
$padding-sm:15px;
$padding-md:30px;
$speed-fast:0.3s;
$speed-slow:1s;
$easing:ease-out;

// media queries
//
$mq-mobile: 'only screen and (max-width:736px)'; // iPhone +
$mq-desktop: 'only screen and (min-width:736px)';
